In [2]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import geoapify_key

In [6]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data_file")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,kharkhorin,47.1975,102.8238,67.23,63,0,2.15,MN,1691630091
1,1,kingston,17.9970,-76.7936,84.24,89,17,1.59,JM,1691629796
2,2,geraldton,-28.7667,114.6000,54.01,87,100,4.61,AU,1691629840
3,3,sitia,35.2000,26.0986,78.98,70,0,21.41,GR,1691629843
4,4,ushuaia,-54.8000,-68.3000,40.66,75,40,2.30,AR,1691630022

In [8]:
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'